[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-magic = "*"
metadata-extractor = {editable = true, git = "ssh://git@github.com/vphpersson/metadata_extractor.git"}
terminal-utils = {editable = true, git = "ssh://git@github.com/vphpersson/terminal_utils.git"}

[dev-packages]

[requires]
python_version = "3.9"
